.App {
  text-align: center;
}

img#logo {
  /* display: inline */
  width: 100px;
  height: 100px;
}

.App-header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}
