.App {
  text-align: center;
  font-family: 'Cinzel', 'Quicksand', sans-serif;
  background-color: #f4f6fc;
}

h1, h2, h3, h4, h5, h6, span, p, a {
  font-weight: 600;
}

img#logo {
  width: 100px;
  height: 100px;
  margin: 25px;
}

.App-header {
  background-color: #5a7bb5;
  display: flex;
  flex-direction: row;
  font-size: calc(5px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

div.navBar {
  height: 50px;
  margin-top: 55px;
 float: right;
  vertical-align: middle;
}

ul {
  float: right;
}

li a {
  /* color: #70def1; */
  color: beige;
}

/* Home Page */
.homePage {
  top: 0;
  margin: 200px auto;
  background-image: url('https://res.cloudinary.com/dmjs1tfzn/image/upload/v1558646647/sebastian-pichler-25154-unsplash.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;               
}

.top-half {
  background-image: url('https://res.cloudinary.com/dmjs1tfzn/image/upload/v1558646647/sebastian-pichler-25154-unsplash.jpg'); 
}
.top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 5% auto;
  justify-content: space-around;
  /* background-color: #f4f6fc; */
  background: transparent;
}
.content-1 {
  width: 350px; 
  padding: 15px;
  background: lightgray;
  border: 1px solid black;
  
}

.content-2 {
  width: 350px;
  height: auto;
}

.content-2 h3, .content-2 span {
  font-size: 1.5em;
}

.content-3 {
  margin: 50px auto; 
  flex-direction: column;
  flex: 1 100%;
  max-width: 600px;
  background: none;
}

.content-3 h1 {
  font-size: 3em;
}

.middle-content {
  margin: 150px auto;
  height: 500px;
  padding: 9%;
  background-color: #ccdcf2;
}

.middle-content h1 {
  font-size: 3.5em;
}

.middle-content p {
  max-width: 500px;
  margin: 5% auto;
  font-size: 1.2em;
}

.bottom-content {
  height: 500px;
}