.App {
  text-align: center;
  font-family: 'Cinzel', 'Quicksand', sans-serif;
  background-color: #f4f6fc;
}

html {
  height: 100%;
}
h1, h2, h3, h4, h5, h6, span, p, a{
  font-weight: 600;
  color: black; 
}

img#logo {
  width: 100px;
  height: 100px;
  margin: 25px;
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: row;
  font-size: calc(5px + 2vmin);
  /* color: white; */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

div.navBar {
  height: 50px;
  margin-top: 55px;
  vertical-align: middle;

}

ul {
  float: right;
}

li a {
  color: beige;
}

/* Home Page */
.homePage {
  top: 0;
  background-image: url('https://res.cloudinary.com/dmjs1tfzn/image/upload/v1558646647/sebastian-pichler-25154-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;      
  left: 0;
  z-index: -1;
  bottom: 0;
  right: 0;
  height: 100%;  
}

.top-half {

}
.top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 5% auto;
  justify-content: space-around;
  background: transparent;
}
.content-1 {
  width: 350px; 
  padding: 15px;
  background: lightgray;
  border: 1px solid black;
  
}

.content-2 {
  width: 350px;
  height: auto;
}

.content-2 h3, .content-2 span {
  font-size: 1.5em;

}

.content-2 span {
  margin-top: 15%;
}

.content-3 {
  margin: 50px auto; 
  flex-direction: column;
  flex: 1 100%;
  max-width: 600px;
  background: lightgray;
  opacity: 0.9;
  padding: 25px 50px;
  border: 1px solid grey;
}

.content-3 h1 {
  font-size: 3em;
  color: black;
}

.middle-content {
  margin-top: 150px;
  height: 500px;
  padding: 9%;
  background-color: #C7C3C3;
}

.middle-content h1 {
  font-size: 3.5em;
}

.middle-content p {
  max-width: 500px;
  margin: 5% auto;
  font-size: 1.2em;
}

.bottom-content {
  height: 500px;
  background-color: rgb(196, 171, 141);
}

#law-book, #jail-cell, #breathaliser {
  border-radius: 50%;
  margin: 25px; 
  border: 2px solid #C7C3C3;
}

#jail-cell {

}

#breathaliser {

}